/* Import Styles */
@import "variables";
@import "mixins";
@import "margins";

/* Global Stylesheets */
html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: $green;
}

.screen_height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  @include for-tablet-landscape-up {
    height: 736px;
  }
}

section {
  position: relative;
}

.text-bold {
  font-weight: 700;
}

.text-shadow {
  text-shadow: 1px 1px 2px $black;
}

*[role=button] {
  cursor: pointer;
}

.container {
  padding: 15px;
}

.d-none {
  display: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: $white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid $black;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
  background-color: $black;
  width: 100%;
  &:hover {
    color: $black;
    background-color: $white;
  }
}

#bubble {
  .speech {
    position: relative;
    background: $white;
    border-radius: .4em;
    margin-bottom: 15px;
    border: 1px solid $black;
    padding: 15px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 25px solid transparent;
      border-top-color: $white;
      border-bottom: 0;
      border-right: 0;
      margin-left: -12.5px;
      margin-bottom: -25px;
    }
  }
  .image {
    text-align: right;
    img {
      width: 125px;
      height: 125px;
      border: 2px solid $white;
      border-radius: 100%;
      margin-right: 20px;
    }
  }
}