/* Import Styles */
@import "variables";

/* Global Stylesheets */
body {
  color: $black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.screen_height {
  height: 100vh;
}

section {
  position: relative;
}

.text-bold {
  font-weight: 700;
}

*[role=button] {
  cursor: pointer;
}